<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Detalle de Habitación</h1>
	<h2>{{ habitacion.nombre }}</h2>
	<p><strong>Descripción:</strong> {{ habitacion.descripcion }}</p>
	<p><strong>Precio:</strong> {{ habitacion.precio }}</p>
	{% if habitacion.disponibilidad %}
		<p><strong>Disponibilidad:</strong> Disponible</p>
	{% else %}
		<p><strong>Disponibilidad:</strong> No disponible</p>
	{% endif %}
	<a href="{% url 'listar_habitaciones' %}">Volver a la lista de habitaciones</a>

</body>
</html>